@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.custom-navbar {
  height: 105px;
  background-color: #F8F3ED;
  font-family: 'Poppins', sans-serif;
}

.custom-logo {
  width: 100px;
  height: auto;
  margin: 5px 10px;
}

.custom-navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.custom-navbar .nav-link {
  font-size: 1rem;
  margin-right: 12px;
  color: black;
  font-weight: 500;
  letter-spacing: 0.5px;
  transition: color 0.2s ease;
}

.custom-navbar .nav-link:hover {
  color: #f29a8e;
}

.custom-navbar .dropdown-menu {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem;
}

.custom-navbar .dropdown-menu .dropdown-item {
  transition: all 0.2s ease;
}

.custom-navbar .dropdown-menu .dropdown-item:hover,
.custom-navbar .dropdown-menu .dropdown-item:focus {
  background-color: #f29a8e;
  color: white;
}

.custom-navbar .dropdown-menu .dropdown-item:active {
  background-color: #f29a8e;
  color: white;
}

.custom-navbar .btn {
  background-color: #F8F3ED;
  color: black;
  border: 2px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  padding: 6px 16px;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}

.custom-navbar .btn:hover {
  background-color: #f29a8e;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-color: #f29a8e;
}

.custom-navbar .btn:focus,
.custom-navbar .btn:active {
  outline: none;
  background-color: #f29a8e !important;
  color: white;
  border-color: #f29a8e !important;
  box-shadow: none;
}

@media (max-width: 768px) { 

  .custom-logo {
    margin: 0;
    width: 85px;
  }

  .custom-navbar .d-flex {
    flex-direction: column; 
    gap: 8px; 
  }

  .custom-navbar .btn {
    width: 100%;
  }

  .me-auto.navbar-nav{
    margin: 15px 0;
  }

  .custom-navbar .navbar-collapse {
    position: absolute;
    top: 105px; 
    left: 0;
    width: 100vw;
    background-color: white;
    padding: 1rem;
    border-radius: 0 0 12px 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 9998;
  }
}